.search_form {
  width: 600px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  outline: none;

  &-results {
    border-bottom: 1px solid #d0cece;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.15);
  }


  &-block {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

input {
  font-size: 16px;

  &::placeholder {
    opacity: 0.4;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  width: 100%;
  text-align: center;
}

.search_icon {
  width: 20px;
  height: 20px;
  padding: 15px;
  position: absolute;
  min-width: 40px;
}

@media screen and (max-width: 800px) {
  .search_form {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .search_form {
    width: 100%;
  }
  input{
    &::placeholder{
      font-size: small;
      padding: 20px;
      text-align: center;

    }
  }
  .search_icon {
    text-wrap: normal;
    position: absolute;
    left: 15%;
    width: 10px;
    height: 10px;
  }
}
