.search_form {
  width: 600px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  outline: none;

  &-icon {
    padding-left: 20px;
    position: absolute;
  }

  &-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }


  &-results {
    padding-top: 40px;
    position: relative;
    border-bottom: 1px solid #d0cece;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }


  &-block {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;


    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

input {
  font-size: 16px;
  padding-left: 60px;
  color: #575757;
  font-family: 'Montserrat', sans-serif;
  &::placeholder {
    opacity: 0.6;
  }

  width: 100%;
}


@media screen and (max-width: 800px) {
  .search_form {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .search_form {
    width: 100%;
  }
  input {
    &::placeholder {
      font-size: small;
    }
  }
  .search_icon {
    text-wrap: normal;
    position: absolute;
    left: 15%;
    width: 10px;
    height: 10px;
  }
}
